.SiteApp-body {
	display: flex;
	/* margin: 0 20px; */
	flex-direction: column;
	/* height: 200vh; */
	width: 100%;
    overflow: hidden;
    font-family:Georgia, 'Times New Roman', Times, serif;
	align-content: center;
	
}

.SiteApp-cards{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-top: 20vh;
	margin-inline: 20px;
}
@media screen and (max-width: 1170px){
    .SiteApp-cards{
		flex-direction: column;
		margin-top: 12vh;
	}
}

.SiteApp-img{
    background-image: url("./hidzama1.jpg");
	/* background-image: inherit; */
	width: 100vw;
	height: 85rem;
    z-index: -5;
    position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}